@mixin page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@mixin page-grid {
  display: grid;
  place-items: center;
}

@mixin background-gradient {
  --bc-blue-green-gradient: linear-gradient(
    217deg,
    rgb(46 154 255 / 1),
    rgb(255 100 100 / 0) 70.71%
  ),
  linear-gradient(
    127deg,
    rgb(173 251 72 / 1),
    rgb(100 255 100 / 0) 70.71%
  ),
  linear-gradient(
    336deg,
    rgb(232 236 242 / 1),
    rgb(100 100 255 / 0) 70.71%
  );

  background: var(--bc-blue-green-gradient);
}

@mixin icon-size {
  width: 24px;
  height: 24px;
}