@use '../../styles/index.scss';

$card-background-color: #FEFDFF;

.footer {
  display: flex;
  justify-content: center;
  margin: 32px 0;

  &:hover {
    color: $card-background-color;
    transition: color 0.9s;
  }
}