@use '../../styles/index.scss';

:host {
  // @include page();
  align-items: center;
}

ul, li {
  list-style: none;
}

.notes {
  display: flex;
  flex-wrap: wrap;
}

.note {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 150px;
  border: 3px solid green;
  margin: 8px 0 0 8px;
}
