@use '../../styles/index.scss';

.example-card {
  max-width: 400px;
  width: 300px;
  height: 300px;
}

.example-card-footer {
  padding: 16px;
}

mat-card-content p {
  margin: revert;
}

ul {
  list-style-type: none;
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0 8px 8px 0;
  }
}
