@use '../../styles/index.scss';

$card-background-color: #FEFDFF;
$text-dark-blue: #0A0A37;

.header {
  display: flex;
  justify-content: space-between;

  & > div {
    min-width: 100px;
    margin: 32px 0;

  }

  &__sidebar-icon {
    // @include icon-svg-hamburger($midnight-blue);
    // @include icon-size();

    // &.opened {
    //     @include icon-svg-close($color-topaz);
    // }
  }
}

.menu {
  display: flex;

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    cursor: pointer;

    &:hover {
      .menu__title,
      .menu__subtitle {
        color: $card-background-color;
        transition: color 0.9s;
      }
    }
  }

  &__title {
    white-space: nowrap;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $text-dark-blue;
    transition: background-color 0.5s;
    margin: 16px 0 8px;
  }

  &__subtitle {
    font-size: 0.65rem;
    color: $text-dark-blue;
    transition: color 0.5s;
    letter-spacing: 3px;
    white-space: nowrap;
  }
}