$green-yellow: #ADFB48;
$ghost-white: #F7FBFE;
$bright-gray: #E8ECF2;
$light-blue: #90C0FF;
$midnight-blue: #02275A;
$dark-gray: #091A24;

$page-background-color: #E4E2F0;
$card-background-color: #FEFDFF;
$block-background-color: #EEEFF8;
$sub-block-background-color: #F9F8FD;

$violet: #7B69EF;
$action-violet: $violet;
$action-grey: #F9F8FD;

$text-black: #212325;
$text-dark-blue: #0A0A37;

$border-color: #EDF0EF;