@import '../app/styles/index.scss';

:host {
  display: block;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  @include background-gradient();

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}